<%
    const USER_ROLE_LABEL = {
        1: 'Super admin',
        2: 'Admin',
        3: 'Manager',
        4: 'Operator',
        5: 'Operator Covid',
        6: 'Distributor Covid',
        7: 'Manager Covid'
    }
 %>

<html>

<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <style>
        table {
            overflow-x: scroll;
        }

        #datatable {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #datatable td, #datatable th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #datatable tr:nth-child(even){background-color: #f2f2f2;}

        #datatable tr:hover {background-color: #ddd;}

        #datatable th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4CAF50;
            color: white;
        }
    </style>
</head>

<body id="datatable">
    <h1><%= title %></h1>
    <table>
        <thead>
            <tr>
                <th>No.</th>
                <th>Full name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>
                <th>Entitas</th>
                <th>Provinsi</th>
                <th>Nomor Telp.</th>
                <th>Created by</th>
                <th>Updated by</th>
                <th>Created at</th>
                <th>Updated at</th>
            </tr>
        </thead>
        <tbody>
            <% if (Array.isArray(data) && data.length > 0) { %>
                <% for (var i = 0; i < data.length; i++) {
                    const user = data[i].dataValues;
                    const { entity = {}, createdby = {}, updatedby = {} } = user
                    const fullname = `${user.firstname} ${user.lastname}`
                    let entityName = !!entity === true ? entity.name : ''
                    let province = !!entity === true ? !!entity.province === true ? entity.province : {} : {}
                    let provinceName = province.name
                    let createdName = !!createdby === true ? `${createdby.firstname} ${createdby.lastname}` : ''
                    let updatedName = !!updatedby === true ? `${updatedby.firstname} ${updatedby.lastname}` : ''
                    let createdAt = !!user.created_at === true ? moment(user.created_at).format('DD/MM/YYYY').toString() : ''
                    let updatedAt = !!user.updated_at === true ? moment(user.updated_at).format('DD/MM/YYYY').toString() : ''
                %>
                    <tr>
                        <td><%= Number(i+1) %></td>
                        <td><%= fullname %></td>
                        <td><%= user.username %></td>
                        <td><%= user.email %></td>
                        <td><%= USER_ROLE_LABEL[user.role] %></td>
                        <td>&nbsp;&nbsp;&nbsp;<%=  entityName %></td>
                        <td>&nbsp;&nbsp;&nbsp;<%=  provinceName %></td>
                        <td><%=  user.mobile_phone %></td>
                        <td><%=  createdName %></td>
                        <td><%=  updatedName %></td>
                        <td><%=  createdAt %></td>
                        <td><%=  updatedAt %></td>
                    </tr>
                <% } %>
            <% } %>
        </tbody>
    </table>
</body>

</html>
